h1{
    color:red;
}

h2{
    color:blue;
}

h2 strong{
    color:yellow
}

ul{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}