//Tipografia desde Google Fonts (@import...)

//Estilos base para las etiquetas de texto (h1, h2, p, etc)

h1{
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 86px;
}
h2{
    font-size: 3rem;
    font-weight: 500;
    line-height: 48px;
}
h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
}
p{
    font-size: 1.125rem;
    line-height: 20px;
}