@use "../utilities/variables";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.blackgrid_typography {
    font-family: 'Orbitron';
    font-style: normal;
    color: variables.$color-primary-light;
}

.blackgrid_typography_subtitle {
    font-family: 'Orbitron';
    font-style: normal;
    color: variables.$color-primary-light;
    font-size: 1.75rem;
}

    @media(min-width: 481px) and (max-width: 1024px) {
        .blackgrid_typography_subtitle{
            font-size: 1.375rem;
        }
    }
    
    @media(max-width: 480px) {
        .blackgrid_typography_subtitle{
            font-size: 1rem;
        }
    }


.dark_blackgrid_typography {
    font-family: 'Orbitron';
    font-style: normal;
    color: variables.$bg-primary;
}

.light_blackgrid_typography {
    font-family: 'Orbitron';
    font-style: normal;
    color: variables.$text-title;
}

.p_typography {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: variables.$text-primary;
    font-size: 1rem;
}

    @media(min-width: 481px) and (max-width: 1024px) {
        .p_typography{
            font-size: 0.9rem;
        }
    }
    
    @media(max-width: 480px) {
        .p_typography{
            font-size: 0.75rem;
        }
    }

.footer_typography {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: variables.$text-primary;
    margin: 0px;
}

.navbar-brand:hover {
    color: variables.$color-primary-light!important;
}

.text-justify {
  text-align: justify;
}